<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "iidv.registro.financas"
    version     = "1.0.0" >

    <name>IIDV Registro de Finanças</name>

    <description>
        Aplicativo de registro financeiro do Instituto Internacional Despertando Vocações.
    </description>

    <author href="cti.institutoidv.org" email="cti@institutoidv.org">
        Coordenação de Tecnologia da Informação do Instituto Internacional Despertando Vocações
    </author>
    
    <preference name="android-targetSdkVersion" value="26"/>
    <preference name='phonegap-version' value='cli-8.0.0' />
    <preference name="fullscreen" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="HeaderColor" value="#130e72" />
    <plugin name="cordova-plugin-inappbrowser" souce="npm" />
    <plugin name="cordova-plugin-headercolor" souce="npm" />
    <plugin name="cordova-plugin-whitelist" source="npm" />
    <allow-navigation href="*" />
</widget>